server_url: http://{{ graylog_server }}:9000/api/ 
update_interval: 10
tls_skip_verify: true
send_status: true
list_log_files:
    - /var/log/
node_id: {{ ansible_hostname }} 
collector_id: file:/etc/graylog/collector-sidecar/collector-id
log_path: /var/log/graylog/collector-sidecar
log_rotation_time: 86400
log_max_age: 604800
tags:
{% for v in graylog_tags %}
    - {{ v }}
{% endfor %}
backends:
    - name: nxlog
      enabled: false
      binary_path: /usr/bin/nxlog
      configuration_path: /etc/graylog/collector-sidecar/generated/nxlog.conf
    - name: filebeat
      enabled: true
      binary_path: /usr/bin/filebeat
      configuration_path: /etc/graylog/collector-sidecar/generated/filebeat.yml
